@use 'variables' as *;
@use 'mixins' as *;

.footer {
    background-color: $dark-grey;
    color: white;
    height: 186px;
    padding: 22px 25px;
    display: flex;
    flex-direction: column;
    gap: 7px;

    &__logo {
        filter: brightness(0) invert(1);
        height: 20px;
        margin-bottom: 16px;
    }

    &__nav {
        list-style: none;

        a {
            text-decoration: none;
            color: white;
            display: flex;
            gap: 11px;
            font-size: 14px;
        }

        li:nth-child(-n+2) {
            font-weight: 500;
        }
    }


}

@media screen and (min-width: 992px) {
    .footer {
        flex-direction: row-reverse;
        align-items: flex-end;
        height: 114px;

        &__nav {
            display: flex;
            flex-direction: row;
            gap: 7px;
            li {
                width: 190px;
                &:nth-child(n+3) {
                    width:130px;
                }
            }
        }

        &__logo {
            margin-bottom: 0px;

        }
    }
}