header {
        display: flex;
        align-items: center;
        justify-content: center;
        .logo {
            height: 36px;
            width: 197px;
            margin-top: 14px;
            margin-bottom: 5px;
            }
}