@use 'variables' as *;
@use 'mixins' as *;

.localisation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px ;
    background-color: #EAEAEA;
    font-weight: 500;
    gap: 17px;
    color: $grey;
}