* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 63px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 1;
}
.header .logo {
  width: 162px;
  margin-top: 10px;
}

.hero {
  background-color: #F6F6F6;
  padding: 39px 0 57px;
}
.hero h1 {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: black;
  text-align: center;
  margin: 0 auto 12px auto;
  max-width: 275px;
}
.hero p {
  font-family: "roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}
.hero .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  margin: auto;
  color: white;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  margin: 27px auto 0;
}

.localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #EAEAEA;
  font-weight: 500;
  gap: 17px;
  color: #353535;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.fonctionnement {
  padding: 48px 20px 68px;
}
.fonctionnement__liste {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 26px;
}
.fonctionnement__liste .etape {
  margin-left: 12px;
  position: relative;
  border-radius: 20px;
  background-color: #F6F6F6;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 27px;
  padding-left: 34px;
  height: 72px;
  color: #7E7E7E;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}
.fonctionnement__liste .etape .step__numero {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  height: 24px;
  width: 24px;
  border-radius: 100%;
  color: white;
  background-color: #9356DC;
}
.fonctionnement__liste .etape:nth-child(3) {
  color: #9356DC;
}
.fonctionnement__liste p {
  color: black;
  font-weight: 500;
}

.restaurants {
  background-color: #F6F6F6;
  padding-bottom: 66px;
}
.restaurants h2 {
  padding-top: 54px;
  margin-left: 20px;
  margin-bottom: 22px;
}
.restaurants__liste {
  margin-left: 17px;
  margin-right: 17px;
  gap: 18px;
  display: flex;
  flex-direction: column;
}
.restaurants .restaurant {
  width: 100%;
  border-radius: 15px;
  background-color: white;
  overflow: hidden;
}
.restaurants .restaurant__illustration {
  width: 100%;
  height: 174px;
  position: relative;
}
.restaurants .restaurant__illustration img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants .restaurant__btn {
  height: 29px;
  width: 80px;
  background-color: #99E2D0;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  color: #008766;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15px;
  right: 15px;
}
.restaurants .restaurant__bas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
  position: relative;
}
.restaurants .restaurant__bas .icon {
  font-size: 22px;
  position: absolute;
  right: 25px;
  bottom: 33px;
}
.restaurants .restaurant__bas .like-checkbox {
  display: none;
}
.restaurants .restaurant__description {
  margin-left: 13px;
}
.restaurants .restaurant__description p {
  margin-bottom: 16px;
  font-size: 17px;
  font-weight: 300;
}
.restaurants .restaurant h3 {
  margin-bottom: 5px;
}

.footer {
  background-color: #353535;
  color: white;
  height: 186px;
  padding: 22px 25px;
}
.footer__logo {
  filter: brightness(0) invert(1);
  height: 20px;
  margin-bottom: 16px;
}
.footer__nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer__nav a {
  text-decoration: none;
  color: white;
  display: flex;
  gap: 11px;
  font-size: 14px;
}
.footer__nav--link {
  font-weight: 500;
}